@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vertPistache: #6DF182;
  --vert: #1C444D;
  --today:#67255A;
  --total:#243B65;
  --gold: #F4EBD0;
  --smallGold:#EDE8D0;
  --white:#EBEBEB;
  --darkBlue:#0d0f18;
  --black:#060e15;
  --gray: #5E5E5E;
  --whiteGray:#EBEBEB;
  --smallTittle:#FFFFF6;
  --sidebar:hsl(211.3 46.939% 9.6078%)

  --murcery:#EBEBEB;
  --tin:#919191;
  --beige:#EDE8D0;
  --back-modal: #0D1A25;
    --size-mobile-s: 320px;
    --size-mobile-m: 375px;
    --size-mobile-l: 425px;
    --size-tablet: 768px;
    --size-laptop: 991px;
    --size-laptop-m: 1024px;
    --size-laptop-l: 1440px;
    --size-desktop: 2560px;


    --p: 41.217 75.163% 70%;
    --pf: 41.217 75.163% 56%;
    --af: 266.32 62.753% 41.255%;
    --nf: 211.3 46.939% 7.6863%;
    --wa: 43 96% 56%;
    --ac: 266.32 100% 90.314%;
    --nc: 211.3 54.881% 81.922%;
    --inc: 198.43 100% 87.333%;
    --suc: 157.83 100% 10.392%;
    --wac: 43 100% 11%;
    --erc: 0 100% 89.059%;
    --rounded-box: 1rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: .2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --pc: 0 0% 0%;
    --a: 266.32 62.753% 51.569%;
    --n: 211.3 46.939% 9.6078%;
    --bc: 0 0% 100%;
    --b1: 211.03 33.333% 17.059%;
    --b2: 213.53 34% 19.608%;
    --b3: 210 27.586% 22.745%;
    --in: 198.43 67.914% 36.667%;
    --su: 157.83 64.082% 51.961%;
    --hey: #F59E0B;
    --er: 0 70.563% 45.294%;
    --s: 42.581 76.543% 68.235%;
    --sf: 42.992 57.991% 57.059%;
    --sc: 0 0% 0%;
    --selected: #3B82F64A;
    --silver: #BBC2CC;
    --top: #213043;
    --primary: #ECC879;
    --primary-dark: #D46B32;
    --primary-alt-base: #213043;
    --primary-alt-hover: #140945;
    --primary-alt-background: #132430;
    --primary-alt-header: #213043;
    --primary-alt-selected: #15225d;
    --primary-alt-content: #fff;
    --success-alt: #064d40;
    --base-dark: #132430;
    --base-400: #000;
    --rounded-btn: 4px;
    --scrollbar: #3f576f;
    --bubble-gradient-start: #1D2B3A;
    --bubble-gradient-end: #1D3346;
    --server-bg: transparent;
    --server-bg-active: transparent;
    --grey-secondary: #213043;
    --grey-tertiary: #17242d;
    --grey-50: #fafafa;
    --grey-100: #f5f5f5;
    --grey-200: #eeeeee;
    --grey-300: #e0e0e0;
    --grey-400: #bdbdbd;
    --grey-500: #9e9e9e;
    --grey-600: #757575;
    --grey-700: #616161;
    --grey-800: #424242;
    --grey-900: #212121;
    
}
.business-heading {
  font-family: "Oswald", sans-serif;
}
.amiri-regular {
  font-family: "Amiri", serif;
}
body {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--black);
  /* background-image: url("../public/backs/full.svg");
  background-repeat: no-repeat;
  background-size: cover; */

}
/* Specific styling when RTL is active */
[dir="rtl"] {
  text-align: right;
}

/* For LTR layouts */
[dir="ltr"] {
  text-align: left;
}
@keyframes dropUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.reveal-up {
  opacity: 0; /* Ensure it's initially hidden */
}

.reveal-up.activation {
  animation: dropUp 0.5s ease-out forwards;
}
.reveal-vertical {
  transform: translateY(10px);
  opacity: 0;
  transition-delay: 2s;
  transition: opacity 0.8s ease-out, transform .5s ease-out;
}

.reveal-vertical.activation {
  transform: translateY(0);
  opacity: 1;
}

.reveal-horizontal-left {
  opacity: 0;
  transition-delay: 1s;
  transition: opacity 0.8s ease-out,;
}

.reveal-horizontal-left.activation {
  opacity: 1;

}

.reveal-horizontal-right {
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.reveal-horizontal-right.activation {
  transform: translateX(0);
  opacity: 1;
}
/* Loader styles */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  background-image: url("/backs/OPENING.svg");
  opacity: 1;
  transition: opacity 1s ease-out;
  z-index: 9999; 
}
@media screen and (max-width: 767px) {
  .loading {
    background-image: url("/backs/OPENING-2.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

.loading.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Logo container */
.loading .logo-container {
  padding: 50px 100px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.73) /* TEMPORARY: Add a semi-transparent red background for debugging */
}

/* SVG styles */
.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  fill: none;
  stroke: #ff4d4f;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container-large, .container-small, .container-medium{
    margin-right: auto !important;
    margin-left: auto !important;
}
.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
@media screen and (max-width: 991px) {
  .padding-section-large {
      padding-top: 6rem;
      padding-bottom: 6rem;
  }
}
.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .padding-global {
      padding: .25rem 1.25rem;
  }
}
.padding-section-medium{
  padding-top: 3rem;
    padding-bottom: 4rem;
    position: relative;
}
@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
/* start the logo */
/* From Uiverse.io by Smit-Prajapati */ 
.button {
  background: none;
  border: none;
  cursor: pointer;
}

.button .bloom-container {
  position: relative;
  transition: all 0.2s ease-in-out;
  border: none;
  background: none;
}

.button .bloom-container .button-container-main {
  width: 110px;
  height: 110px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  border-right: 5px solid white;
  border-left: 5px solid rgba(128, 128, 128, 0.147);
  /* transform: rotate(-25deg); */
  transition: all 0.5s ease-in-out;
}

.button .bloom-container .button-container-main .button-inner {
  height: 95px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url("/signLogo.jpg");
  background-size: cover;
  background-position: center;
  background-size: 143%;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 10px 15px 0px;
  transition: all 0.5s ease-in-out;
}
/* 
.button .bloom-container .button-container-main .button-inner .back {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: linear-gradient(
    60deg,
   rgb(245, 255, 255) 0%,
    rgb(185, 225, 200) 100%
  );
}

.button .bloom-container .button-container-main .button-inner .front {
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  background: linear-gradient(60deg, rgb(0, 0, 0));
  display: grid;
  place-content: center;
  transform: rotate(20deg);
} */

.button .bloom-container .button-container-main .button-inner .front .svg {
  fill: #ffffff;
  opacity: 0.5;
  width: 30px;
  aspect-ratio: 1;
  transform: rotate(45deg);
  transition: all 0.2s ease-in;
  
}

.button .bloom-container .button-container-main .button-glass {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.411) 100%
  );
  transform: translate(0%, -50%) rotate(0deg);
  transform-origin: bottom center;
  transition: all 0.5s ease-in-out;
}

.button .bloom-container .bloom {
  height: 1px;
  width: 1px;
  position: absolute;
  background: rgb(19, 1, 1);
}

.button .bloom-container .bloom1 {
  top: 10px;
  right: 20px;

}

.button .bloom-container .bloom2 {
  bottom: 10px;
  left: 20px;
 
}

.button .bloom-container:hover {
  transform: scale(1.1);
}

.button .bloom-container:hover .button-container-main .button-glass {
  transform: translate(0%, -40%);
}

.button
  .bloom-container:hover
  .button-container-main
  .button-inner
  .front
  .svg {
  opacity: 1;
  filter: drop-shadow(0 0 10px white);
}

.button .bloom-container:active {
  transform: scale(0.7);
}

.button .bloom-container:active .button-container-main .button-inner {
  transform: scale(1.2);
}

/* end the logo */

/* Start cta button */
.cta-button {
  /* Updated colors for a yellow theme */
  --main-color: rgb(118, 103, 8); /* Bright yellow */
  --main-bg-color: rgba(255, 223, 0, 0.36); /* Semi-transparent yellow */
  --pattern-color: rgba(255, 255, 255, 0.03); /* Light pattern color */

  /* Change this rotation value if you want to adjust the hue */
  filter: hue-rotate(0deg);

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    15px 15px,
    15px 15px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--white);
  padding: 1rem 3rem;
  font-weight: 700;
  transition: background-size 0.2s ease-in-out;
}
@media screen and (max-width:991px){
  .cta-button{
    font-size: 1rem;
    padding: 1rem 1rem;
    letter-spacing: 0.1rem;

  }
}
@media screen and (max-width:375px){
  .cta-button{

    letter-spacing: 0.1rem;

  }
}

.cta-button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}

.cta-button:active {
  filter: hue-rotate(50deg); /* Slight hue rotation for effect on click */
}

/* End cta button */

/*start the landing section  */
.main{
  background-color: black;
  background-image: url("/backs/landing.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.hero-heading{
  background-color: var(--white);
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background-image: url("/backs/heading-texture_1heading-texture.webp");
  background-clip: text;
  margin-top: 0.5rem;
  font-size: 3.88rem;
  font-weight: 600;
  line-height: 1;
  
}
@media screen and (max-width: 991px) {
  .hero-heading {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 425px) {
  .hero-heading {
    font-size: 1.4rem;
  }
}
.intro-wrapper{
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*end the landing section  */


/* start time line section */
.hflex-center-16 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  display: flex;
}
.vflex-center-8 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  align-items: center;
}

.w-layout-vflex {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}
.hflex-center-8 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .hflex-center-8 {
    align-items: flex-start;
    display: flex;
  }
}
.pay_wrap {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  align-items: center;
}
/* end time line section */


/* start table  */
/* From Uiverse.io by Spacious74 */ 
.outer {
  margin: 0 auto;
  padding-top: 2rem;
  height: 300px;
  margin: 0 5rem;
  max-width: 1024px;
  background-color: var(--blackBlue);
  border-radius: 10px;
  padding: 1px;
  opacity: 1;
  position: relative;
}
@media screen and (max-width:767px){
  .outer{
    margin: 0 1rem;
  }
}
@media screen and (max-width:400px){
  .outer{
    margin: 0 auto;
  }
}
.dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: var(--gold);
  box-shadow: 0 0 0px #333;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.card {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #aaaaaa14;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #ffffff19, #d6d6d606);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  font-size: 1.5rem;
  color:var(--whiteGray);
}

.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #e6e6e6ac;
  opacity: 0.6;
  box-shadow: 0 0 50px #ffffff38;
  filter: blur(20px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.card .text {
  font-weight: bolder;
  font-size: 4rem;
  background: linear-gradient(45deg, #ffffff 4%, #000, #ffffff);
  background-clip: text;
  color: transparent;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #f8f1f11e;
}

.topl {
  top: 10%;
  background: linear-gradient(90deg, #e0e0e026 30%, #f2f2f237 70%);
}

.bottoml {
  bottom: 10%;
}

.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #d6d6d642 30%, #f7f7f728 70%);
}

.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
}
.relative {
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}
.is-good{
  transition: margin .3s cubic-bezier(.455, .03, .515, .955), filter .2s;
    overflow: hidden;
}
.is-bad{
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
@media screen and (max-width:991px){
  .cta.is-bad {
    height: 45rem;
  }
}
@media screen and (max-width:767px){
  .cta.is-bad {
    height: 42rem;
    margin-top: 0;
    overflow: hidden;
  }
}
/* end table */

/*satrt  login */
.btn-ghost {
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  color: currentColor;
}

.btn {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-color: hsl(var(211.3 46.939% 9.6078%) / var(1));
  text-align: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  text-transform: var(uppercase, uppercase);
  text-decoration-line: none;
  border-width: var(1px, 1px);
  animation: button-pop var(0.25s, 0.25s) ease-out;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: hsl(var(211.3 46.939% 9.6078%) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(211.3 54.881% 81.922%) / var(1));
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.193);
  /* opacity: 0.8; */
}
.btn-lg {
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-height: 4rem;
  font-size: 1.125rem;
}
.btn-primary {
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.normal-case {
  text-transform: none;
}
.font-normal {
  font-weight: 400;
}
.btn-block {
  width: 100%;
}
.btn-lg {
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-height: 4rem;
  font-size: 1.125rem;
}
.bg-base-100 {
  background-color: hsl(211.03 33.333% 17.059% /1);
}
.bg-base-200 {
  --tw-bg-opacity: 1;
  --b2: 213.53 34% 19.608%;
  --b1: 211.03 33.333% 17.059%;
  background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
}

.input {
  flex-shrink: 1;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 2;
  line-height: 1.5rem;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.279);
  color: var(--whiteGray);
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
  background-color:#0d0f18;
  border-radius: var(--rounded-btn, 0.5rem);
}
.btn-no-effects {
  animation: none !important;
  transform: none !important;
  pointer-events: auto !important;
}
/*end  login */

/* start sidebar */
.btn-circle:where(.btn-md) {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  padding: 0px;
}
.btn-md {
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 3rem;
  font-size: 0.875rem;
}
.btn-ghost {
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  color: currentColor;
}
.btn-circle {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  padding: 0px;
}
.bg-bubble-gradient {
  background-image: linear-gradient(to right, var(--bubble-gradient-start), var(--bubble-gradient-end));
}

.alert {
  display: flex
;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
  padding: 1rem;
  border-radius: var(--rounded-box, 1rem);
}


/* Custom scrollbar styles */
.scrollbar-custom {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 transparent; /* For Firefox */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 4px; /* Rounded edges */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color on hover */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; /* Track background color */
}

/* seconde scrool bar */

/* Custom scrollbar for .custom-scrollbar */
.custom-scroll {
  overflow-y: auto; /* Enables vertical scrolling */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.custom-scroll ::-webkit-scrollbar {
  width: 2px; /* Slim width */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* No track background */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(40, 40, 40, 0.8); /* Darker scrollbar */
  border-radius: 10px; /* Soft rounded edges */
}

/* Hide scrollbar buttons (up/down arrows) */
.custom-scroll::-webkit-scrollbar-button {
  display: none;
}

/* Firefox Support */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(40, 40, 40, 0.8) transparent;
}


.gradient-text {
  background: -webkit-linear-gradient(0deg, #fff, hsla(0, 0%, 100%, .61) 70%, hsla(0, 0%, 61%, .6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box, 1rem);
}
.Card-side {
  align-items: stretch;
  flex-direction: row;
}


/* checout button */

/* From Uiverse.io by SelfMadeSystem */ 
.buttonCheckout{
  position: relative;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 40px;
  background: #111;
  color: #fff;
}
.buttonCheckout-limit{
  position: relative;
  cursor: pointer;
  border: none;
  min-width: 200px;
  max-width: 600px;
  padding: 0 15px;
  height: 40px;
  background: #111;
  color: #fff;
}
.text {
  position: relative;
  z-index: 1;
}

.buttonCheckout::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background: radial-gradient(
      circle at 50% 50%,
      #0000 0,
      #0000 20%,
      #111111aa 50%
    ),
    radial-gradient(ellipse 100% 100%, #fff, #fff0);
  background-size:
    3px 3px,
    auto auto;
  transition: 0.3s;
}

.buttonCheckout:hover::before {
  opacity: 0.3;
}

.a {
  pointer-events: none;
  position: absolute;
  --w: 2px;
  --t: -40px;
  --s: calc(var(--t) * -1);
  --e: calc(100% + var(--t));
  --g: #fff0, #fff3 var(--s), #fffa var(--s), #fff, #fffa var(--e),
    #fff3 var(--e), #fff0;
}

.a::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(4px) url(#unopaq);
  z-index: -2;
}

.a::after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(10px) url(#unopaq);
  opacity: 0;
  z-index: -2;
  transition: 0.3s;
}

.buttonCheckout:hover .a::after {
  opacity: 1;
}

.l {
  left: -2px;
}

.r {
  right: -2px;
}

.l,
.r {
  background: linear-gradient(var(--g));
  top: var(--t);
  bottom: var(--t);
  width: var(--w);
}

.t {
  top: -2px;
}

.b {
  bottom: -2px;
}

.t,
.b {
  background: linear-gradient(90deg, var(--g));
  left: var(--t);
  right: var(--t);
  height: var(--w);
}

.backdrop {
  position: absolute;
  inset: -9900%;
  background: radial-gradient(
    circle at 50% 50%,
    #0000 0,
    #0000 20%,
    #111111aa 50%
  );
  background-size: 3px 3px;
  z-index: -1;
}
.backdrop-modal {
  position: absolute;
  inset: -25%;
  background: radial-gradient(
    circle at 50% 50%,
    #0000 0,
    #0000 20%,
    #111111aa 50%
  );
  background-size: 3px 3px;
  z-index: -1;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    }
}



/* start Growth Support */